<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sathvik.android_test">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Login" />
        <activity android:name=".ui.Sign_up" />
        <activity android:name=".ui.Slpash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Order" />
        <activity android:name=".ui.BaseActivity" />
        <activity android:name=".ui.Cart" />
        <activity android:name=".ui.AdminActivity" />
        <activity android:name=".ui.OrderList_Customer" />
        <activity android:name=".ui.OrderDetailCustomer" />
        <activity android:name=".ui.ViewOrderAdmin" />

        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".ui.Payment_list" />
        <activity android:name=".ui.Payment_history" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_7BWzOJeq2kX2pU" />

        <activity android:name=".ui.Razorpay" />
        <activity android:name=".ui.pendingcustomer" />
        <activity android:name=".ui.ProfileActivity"></activity>
    </application>

</manifest>